$main-bg: #1c1c1c;
$footer-bg: #303030;
$button-br : #0282f9;
$titles : #fff;
$footer-list : #959595;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}


img {
    display: block;
}

main {
    background-color: $main-bg;
}